/*Начало программы*/
.theme{
    margin: 20px;
    font-size: 24px;
}

.tgk{
    font-size: 24px;
    text-align: center;
}

.foto{
    display: flex; 
    justify-content: space-evenly; 
    flex-wrap: wrap;
}

a{
    margin: 10px;
}

span{
    text-align: center;
    margin: 0;
}